@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 14px 18px 14px 18px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
}
.btn-container{
    text-align: center;
}
#hero {
    height: 615px;
    background-image: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 600px;
    /* margin: 0 auto; */
}

.Subtitles {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 10px;

}

.title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;
}

.description {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 18px;

}
#card-box{
    width: 884px;
    margin: 50px auto;
}
.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#card-box .title-1{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 28px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
}

#card-box .subtitle-1{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}
#card{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.image-box{
    width: 250px;
}
.image-box img{
    width: 100%;
}
#card .shop{
    text-align: center;
    background-color: aqua;
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}